.golunch-chalkboard {
    font-family: 'Courier New', monospace;
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
}

.golunch-chalkboard h2, .golunch-chalkboard h3 {
    font-family: 'Permanent Marker', cursive;
    color: #ecf0f1;
}

.golunch-chalkboard .golunch-menu {
    border: 2px solid #ecf0f1;
    margin-bottom: 15px;
    padding: 15px;
}